<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<link rel="stylesheet" type="text/css" href="Styles/FusionHO1/Style.css">
<link rel="stylesheet" type="text/css" href="{page:pathToRoot}Styles/adx.css">
<link rel="stylesheet" type="text/css" href="{page:pathToRoot}Styles/Compact/Menu.css">
<style type="text/css">
<!--
#menu   { float: left; margin: 74px 5px auto 0; border: 0px solid #333333; width: 300px; height: 24px; }
#user   { float: left; margin: 42px 30px auto 2; border: 0px solid #333333; width: 40px; height: 24px; }
#logout   { float: right; margin: 60px 0px auto 0; border: 0px solid #333333; width: 20px; height: 24px; }
#idioma   { float: right; margin: 56px 173px auto 0; border: 0px solid #333333; width: 20px; height: 24px; }
-->
</style>
<script language="JavaScript" type="text/javascript">
//Begin CCS script
//Include Common JSFunctions @1-A7C5C965
</script>
<script language="JavaScript" src="{page:pathToRoot}ClientI18N.asp?file=Functions.js&amp;locale={res:CCS_LocaleID}" type="text/javascript" charset="utf-8"></script>
<script language="JavaScript" type="text/javascript">
//End Include Common JSFunctions

//Include User Scripts @1-47D94B4F
</script>
<script language="JavaScript" src="{page:pathToRoot}js/menu/WCH.js" type="text/javascript"></script>
<script language="JavaScript" src="{page:pathToRoot}js/menu/ADxMenu.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
//End Include User Scripts

//DEL      // -------------------------
//DEL      window.location.href = location.href.split('?')[0] + "?locale=" + this.value;
//DEL      // -------------------------

//DEL      // -------------------------
//DEL  window.location.href = location.href.split('?')[0] + "?locale=" + this.value;
//DEL      // -------------------------

//bind_events @1-73B672FD
function Header_bind_events() {
    addEventHandler("HeaderMenu1Container", "load", load_ADxMenu);
}
//End bind_events

//End CCS script
</script>
<p></p>
<p>
<table style="WIDTH: 1023px; HEIGHT: 110px">
  <tr>
    <td><span style="LEFT: 8px; POSITION: absolute; TOP: 8px"><img height="117" alt="Fusion" src="alpheton1023.jpg" width="1023" usemap="#Fusionmap"></span> <map name="Fusionmap">
      <area shape="RECT" alt="Fusion" coords="673,10,990,50" href="menu.asp">
      </map><span style="LEFT: 40px; POSITION: absolute; TOP: 98px">
      <!-- BEGIN Menu Menu1 -->
      <div class="MenuStyle" id="HeaderMenu1Container">
        <ul class="adxm {Menu1:MenuType} level1">
          <!-- BEGIN Item -->
          <!-- BEGIN OpenLevel -->
          <ul class="level{Menu1:Item_Level}">
            <!-- END OpenLevel -->
            <li><a href="{ItemLink_Src}" class="{Menu1:Submenu}" target="{Menu1:Target}" title="{Menu1:Title}">{ItemLink}</a> 
            <!-- BEGIN CloseItem --></li>
 <!-- END CloseItem -->
            <!-- BEGIN CloseLevel -->
          </ul>
 </li>
 <!-- END CloseLevel --><!-- END Item -->
        </ul>
 
      </div>
 <!-- END Menu Menu1 --></span><span style="LEFT: 228px; POSITION: absolute; TOP: 78px">Hola {usuario}</span> <span style="LEFT: 807px; POSITION: absolute; TOP: 70px">&nbsp;</span><span style="LEFT: 969px; POSITION: absolute; TOP: 75px"><a href="{Logout}"><img style="BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px" alt=" " src="Styles/FusionHO1/Images/en/ButtonLogout.gif" align="right"></a></span> </td> 
  </tr>
</table>
</p>
