/*Page Style @1-3BDE1077*/
#Brand_City_Country_Locals_SiteName_choices {
    position: absolute;
}
#Brand_City_Country_Locals_SiteName_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#Brand_City_Country_Locals_SiteName_choices ul li.selected { background-color: #aaa;}
#Brand_City_Country_Locals_SiteName_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

