/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorFusionHO1 {
	background-color: #cfe6d3;
	}

.FormTitleBgColorFusionHO1 {
	background-color: #3d84cc;
	}

.FormTitleFontColorFusionHO1 {
	color: #ffffff;
	}

.CaptionBgColorFusionHO1 {
	background-color: #bfedbb;
	}

.CaptionFontColorFusionHO1 {
	color: #000000;
	}

.DataBgColorFusionHO1 {
	background-color: #f7f8fa;
	}

.AltDataBgColorFusionHO1 {
	background-color: #e6eff7;
	}

.DataFontColorFusionHO1 {
	color: #000000;
	}

.LinkColorFusionHO1 {
	color: #0033cc;
	}

.VisitedLinkColorFusionHO1 {
	color: #840000;
	}

.HoverLinkColorFusionHO1 {
	color: #ff0000;
	}

.ColorBgButtonFusionHO1 {
	background-color: #3d84cc;
}

.ColorFontButtonFusionHO1 {
	color: #ffffff;
}

.ColorBgButtonPassiveFusionHO1 {
	background-color: #93c9ff;
}

.ColorFontButtonPassiveFusionHO1 {
	color: #ffffff;
}



.HeaderFusionHO1 {
	width: 100%;
	}

.HeaderFusionHO1 th { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: center !important;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}



/*ie6*/
* html body .HeaderFusionHO1 th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: center !important;
}
/*end*/

.HeaderFusionHO1 a:link { 
	color: #ffffff;
	}

.HeaderFusionHO1 a:visited { 
	color: #ffffff;
	}

.HeaderFusionHO1 a:hover, .CaptionFusionHO1 a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftFusionHO1 { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightFusionHO1 { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftFusionHO1 img{
	width: 9px;
	}

.HeaderRightFusionHO1 img{
	width: 9px;
	}


/* Grid Options */
.GridFusionHO1 { 
	border-left: 1px solid #3d84cc; border-bottom: 1px solid #3d84cc;
	width: 100%;
	}

.CaptionFusionHO1 th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb; color: #000000;
	white-space: nowrap;
	}

.CaptionFusionHO1 td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb; color: #000000;
	white-space: nowrap;
	}



/*ie6*/
* html body .CaptionFusionHO1 th, * html body .CaptionFusionHO1 td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionFusionHO1 a:link { 
	color: #000000;
	}

.CaptionFusionHO1 a:visited { 
	color: #000000;
	}

.CaptionFusionHO1 a:hover, .CaptionFusionHO1 a:active { 
	color: #ff0000;
	}

.CaptionFusionHO1 img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionFusionHO1 input {
	vertical-align: middle;
	}

.RowFusionHO1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowFusionHO1 td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}
	


/*ie6*/
* html body .RowFusionHO1 th, * html body .RowFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowFusionHO1 { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 1px solid #3d84cc; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}



/*ie6*/
* html body caption.RowFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowFusionHO1 a:link { 
	color: #0033cc;
	}

.RowFusionHO1 a:visited { 
	color: #840000;
	}

.RowFusionHO1 a:hover, .RowFusionHO1 a:active { 
	color: #ff0000;
	}

.SeparatorFusionHO1{
	color: #3d84cc;
	}

.SeparatorFusionHO1 td{
	height: 1px;
	}


.AltRowFusionHO1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowFusionHO1 td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	background-color: #e6eff7; 
	color: #000000;
	}



/*ie6*/
* html body .AltRowFusionHO1 th, * html body .AltRowFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowFusionHO1 a:link { 
	color: #0033cc;
	}

.AltRowFusionHO1 a:visited { 
	color: #840000;
	}

.AltRowFusionHO1 a:hover, .AltRowFusionHO1 a:active { 
	color: #ff0000;
	}

.NoRecordsFusionHO1 td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	background-color: #f7f8fa; 
	color: #000000;
	vertical-align: top;
	}

.FooterFusionHO1 td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .NoRecordsFusionHO1 td, * html body .FooterFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterFusionHO1 a:link { 
	color: #0033cc;
	}

.FooterFusionHO1 a:visited { 
	color: #840000;
	}

.FooterFusionHO1 a:hover, .FooterFusionHO1 a:active { 
	color: #ff0000;
	}

.FooterFusionHO1 img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterFusionHO1 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordFusionHO1 { 
	border-left: 1px solid #3d84cc; border-bottom: 1px solid #3d84cc;
	width: 100%;
	}

.ErrorFusionHO1 td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f8fa; 
	}



/*ie6*/
* html body .ErrorFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsFusionHO1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsFusionHO1 td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}
	
.BottomFusionHO1 td { 
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .ControlsFusionHO1 th, * html body .ControlsFusionHO1 td, * html body .BottomFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomFusionHO1 a:link { 
	color: #0033cc;
	}

.BottomFusionHO1 a:visited { 
	color: #840000;
	}

.BottomFusionHO1 a:hover, .CaptionFusionHO1 a:active { 
	color: #ff0000;
	}

.BottomFusionHO1 img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomFusionHO1 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionFusionHO1 th{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	}

.GroupCaptionFusionHO1 td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f8fa; 
	color: #000000;
	}



/*ie6*/
* html body .GroupCaptionFusionHO1 th, * html body .GroupCaptionFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionFusionHO1 a:link {
	color: #000000;
	}

.GroupCaptionFusionHO1 a:visited{
	color: #000000;
	}

.GroupCaptionFusionHO1 a:hover, .GroupCaptionFusionHO1 a:active{
	color: #ff0000;
	}

.GroupFooterFusionHO1 td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #bfedbb; 
	color: #000000;
	}



/*ie6*/
* html body .GroupFooterFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterFusionHO1 a:link {
	color: #0033cc;
	}

.GroupFooterFusionHO1 a:visited{
	color: #840000;
	}

.GroupFooterFusionHO1 a:hover, .GroupFooterFusionHO1 a:active{
	color: #ff0000;
	}

.GroupFooterFusionHO1 img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterFusionHO1 input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalFusionHO1 td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	border-bottom: 2px solid #3d84cc;
	}



/*ie6*/
* html body .SubTotalFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalFusionHO1 a:link {
	color: #0033cc;
	}

.SubTotalFusionHO1 a:visited{
	color: #840000;
	}

.SubTotalFusionHO1 a:hover, .SubTotalFusionHO1 a:active{
	color: #ff0000;
	}

.TotalFusionHO1 td{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	}



/*ie6*/
* html body .TotalFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalFusionHO1 a:link {
	color: #0033cc;
	}

.TotalFusionHO1 a:visited{
	color: #840000;
	}

.TotalFusionHO1 a:hover, .TotalFusionHO1 a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonFusionHO1 { 
	background-color: #3d84cc; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 11px; font-weight: bold;
	}

/* Calendar */

.CalendarFusionHO1 { 
	border: 1px solid #3d84cc;
	width: 100%;
	}

.CalendarWeekdayNameFusionHO1{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e6eff7; 
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekdayNameFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameFusionHO1 a:link {
	color: #0033cc;
	}

.CalendarWeekdayNameFusionHO1 a:visited{
	color: #840000;
	}

.CalendarWeekdayNameFusionHO1 a:hover, .CalendarWeekdayNameFusionHO1 a:active{
	color: #ff0000;
	}

.CalendarWeekendNameFusionHO1{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e6eff7;	
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekendNameFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNameFusionHO1 a:link {
	color: #000000;
	}

.CalendarWeekendNameFusionHO1 a:visited{
	color: #000000;
	}

.CalendarWeekendNameFusionHO1 a:link, .CalendarWeekendNameFusionHO1 a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDayFusionHO1{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarDayFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayFusionHO1 a:link {
	color: #0033cc;
	}

.CalendarDayFusionHO1 a:visited{
	color: #840000;
	}

.CalendarDayFusionHO1 a:hover, .CalendarDayFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendFusionHO1{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #e6eff7;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendFusionHO1 a:link {
	color: #0033cc;
	}

.CalendarWeekendFusionHO1 a:visited{
	color: #840000;
	}

.CalendarWeekendFusionHO1 a:hover, .CalendarWeekendFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodayFusionHO1 {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarTodayFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayFusionHO1 a:link {
	color: #0033cc;
	}

.CalendarTodayFusionHO1 a:visited{
	color: #840000;
	}

.CalendarTodayFusionHO1 a:hover, .CalendarTodayFusionHO1 a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayFusionHO1 {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	background-color: #e6eff7;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendTodayFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayFusionHO1 a:link {
	color: #0033cc;
	}

.CalendarWeekendTodayFusionHO1 a:visited{
	color: #840000;
	}

.CalendarWeekendTodayFusionHO1 a:hover, .CalendarWeekendTodayFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayFusionHO1{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #3d84cc;
	}



/*ie6*/
* html body .CalendarOtherMonthDayFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayFusionHO1 a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthDayFusionHO1 a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthDayFusionHO1 a:hover, .CalendarOtherMonthDayFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayFusionHO1 {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #3d84cc;
	}



/*ie6*/
* html body .CalendarOtherMonthTodayFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayFusionHO1 a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthTodayFusionHO1 a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthTodayFusionHO1 a:hover, .CalendarOtherMonthTodayFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendFusionHO1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: center;
	background-color: #e6eff7;	
	color: #3d84cc;
	}



/*ie6*/
* html body .CalendarOtherMonthWeekendFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendFusionHO1 a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendFusionHO1 a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendFusionHO1 a:hover, .CalendarOtherMonthWeekendFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayFusionHO1 {
	font-family: Arial; font-size: 80%;
	padding: 0px;
	border-top: 3px solid #3d84cc; border-right: 3px solid #3d84cc; border-left: 2px solid #3d84cc; border-bottom: 2px solid #3d84cc;
	text-align: center;
	color: #3d84cc;
	background-color: #e6eff7;	
	}
	


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayFusionHO1 a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodayFusionHO1 a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodayFusionHO1 a:hover, .CalendarOtherMonthWeekendTodayFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayFusionHO1{
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	


/*ie6*/
* html body .CalendarSelectedDayFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayFusionHO1 a:link {
	color: #000000;
	}

.CalendarSelectedDayFusionHO1 a:visited{
	color: #000000;
	}

.CalendarSelectedDayFusionHO1 a:hover, .CalendarSelectedDayFusionHO1 a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorFusionHO1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	background-color: #f7f8fa; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .CalendarNavigatorFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorFusionHO1 a:link {
	color: #0033cc;
	}

.CalendarNavigatorFusionHO1 a:visited{
	color: #840000;
	}

.CalendarNavigatorFusionHO1 a:hover, .CalendarNavigatorFusionHO1 a:active{
	color: #ff0000;
	}

.CalendarNavigatorFusionHO1 img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorFusionHO1 td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorFusionHO1 th {
	font-family: Arial; font-size: 80%;
	}



/*ie6*/
* html body .CalendarNavigatorFusionHO1 th, * html body .CalendarNavigatorFusionHO1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventFusionHO1{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}



/*ie6*/
* html body .CalendarEventFusionHO1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventFusionHO1 a:link {
	color: #0033cc;
	}

.CalendarEventFusionHO1 a:visited{
	color: #840000;
	}

.CalendarEventFusionHO1 a:hover, .CalendarEventFusionHO1 a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thFusionHO1 { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}



/*ie6*/
* html body .thFusionHO1 {
	font-size: 100%;
}
/*end*/

.HeaderFusionHO1 .thFusionHO1 { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: center !important;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
}



/*ie6*/
* html body .HeaderFusionHO1 .thFusionHO1 {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: center !important;
}
/*end*/

.CaptionFusionHO1 .thFusionHO1 { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #bfedbb; color: #000000;
	white-space: nowrap;
}



/*ie6*/
* html body .CaptionFusionHO1 .thFusionHO1 {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowFusionHO1 .thFusionHO1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowFusionHO1 .thFusionHO1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsFusionHO1 .thFusionHO1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionFusionHO1 .thFusionHO1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 1px solid #3d84cc; border-right: 1px solid #3d84cc;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
}



/*ie6*/
* html body .GroupCaptionFusionHO1 .thFusionHO1 {
	font-family: Arial; font-size: 100%;
}

* html body .RowFusionHO1 .thFusionHO1, * html body .AltRowFusionHO1 .thFusionHO1, * html body .ControlsFusionHO1 .thFusionHO1 {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuFusionHO1 td {
	font-family: Arial; font-size: 80%;
}



/*ie6*/
* html body .simpleMenuFusionHO1 td {
	font-family: Arial; font-size: 100%;
} 
/*end*/
